*{
 font-family: sans-serif}
.imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}
.imgs img {
  max-width: 100%;
}
@page {
  size: A4;
  margin: 0;
  bottom: 0%;
  top: 0%;
}
@media print {
 .imgs {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  max-width: 100%;
 }
}
#first_text{
  position: relative;
  left:55px;
}